.searchPageContainer {
  margin-top: 80px;
  padding: 16px 31px;
  display: flex;
  width: 100%;
  max-height: calc(100vh - 100px);
}

.feed {
  flex: 4.337;
  overflow-y: hidden;
}

.filter {
  margin-bottom: 24px;
  color: #2264d1;
  line-height: 24px;
  letter-spacing: 0.44px;
}

.sort {
  margin-right: 350px;
  margin-left: 75px;
}

.filter-icon {
  position: fixed;
  top: 10%;
  background-color: aliceblue;
  color: #2264d1;
  border: 1px solid #9dc2ff;
  box-sizing: border-box;
  width: 90px;
  height: 50px;
  cursor: pointer;
  margin-left: -31px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease-out;
}
.filter_sidebar {
  transition: all 0.3s ease-out;
}
.filterOpen {
  opacity: 1;
  transform: translateX(0);
}

.filterClose {
  opacity: 0;
  flex: 0;
  width: 0%;
  padding: 0%;
  transform: translateX(-100%);
}

.searchPageContainer .notification {
  margin-top: 10px;
  text-align: center;
}
